body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #efe0ecdc; 
    color: #fff;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



main {
    flex: 1;
    width: 100vw; 
    height: auto; 
    padding: 100px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box; 
    opacity: 0; 
    transform: translateY(120px); 
    animation: fadeIn 1s forwards; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.eye-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%; 
    animation: pulse 1.5s infinite;
}

.loader__eyes {
    margin-bottom: 20px;
    transition: transform 0.1s;
}

.eye-container h2 {
    font-size: 2em;  
    color: #161515; 
    text-align: center;  
    letter-spacing: 1.5px;  
    text-shadow: 2px 2px 4px rgb(0, 0, 0);  
    margin: 20px 0;  
}

footer {
    background-color: #eab8e3ba; 
    color: #000000;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    margin-top: 20px;
}


.iconic-title {
    font-size: 1.5em; 
    font-weight: bold; 
    text-align: center;
    letter-spacing: 0.05em; 
    color: #000000; 
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.606);
    font-family: 'Cinzel', serif; 
    margin: 5cm 0 0.5cm 0; 
}

.button-container {
    margin-top: 1cm; 
    display: flex;
    justify-content: center;
}

.next-page-button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #ffffff;
    border: none;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Cinzel', serif;
}

.next-page-button:hover {
    background-color: #e94e95;
    transform: scale(1.05);
}

.next-page-button:active {
    transform: scale(0.95);
}
